<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs',{titulo: `${product.nombreProd} - Uptown Urban`,css:'productDetail'})%>

   <body>
      <%- include("../partials/header.ejs") %>
         <main>
            <section class="detalle">
               <img class="container-img-big" src="/img/products/<%=product.imagen%>" alt="">
               <div class="container-img-data">
                  <h1>
                     <%=product.nombreProd%>
                  </h1>

                  <div class="info">
                     <h3>$ <%= product.precio %>
                     </h3>
                     <span> Tamaño / Talle: <b><%=product.talle%></b> </span>
                     <h4>DESCRIPCION</h4>
                     <p>
                        <%=product.descripcion%>
                     </p>
                     <h4>CANTIDAD</h4>
                     <select name="cantidad">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                     </select>
                     <div class="button">
                        <button class="boton-primario">Comprar ahora</button>
                        <button class="boton-secundario">Agregar al carrito</button>
                     </div>
                     
                     <% if (locals.isLogged && locals.isAdmin) { %>
                        <div class="button admin">
                           <h4>Administración:</h4>
                           <a href="/products/edit/<%=product.idProd%>"><button class="boton-primario boton-edit"><i class="fa fa-pencil"></i> Modificar</button></a>
                           <form class="inline" action="/products/<%=product.idProd%>?_method=DELETE" method="POST">
                              <button type="submit" class="boton-primario boton-del"><i class="fa fa-trash-can"></i> Eliminar</button>
                           </form>
                        </div>
                     <% } %>
                  </div>
               </div>
            </section>

         </main>
         <%- include("../partials/footer.ejs") %>
            <script src="http://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>
            <script src="server.js"></script>

   </body>

</html>