<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs',{titulo:'Uptown Urban',css:'index'})%>

<body>
    <%- include("partials/header.ejs") %>
        <main>

            <section class="carrusel">
                <a class="container-img" href="/products">
                    <div>
                        <img class="img-mobile" src="/img/banner-mobile.png" alt="Catalogo Uptown Urban">
                    </div>
                    <div>
                        <img class="img-carrusel" src="/img/banner-home.png" alt="Catalogo Uptown Urban">
                    </div>
                </a>
            </section>

            <section class="filtro">
                <h2>¿Qué andás buscando?</h2>
                <div class="container-secciones">
                    <% let imgs = ['accesorios-filtro.jpg','zapatillas-filtro.jpg','remeras-filtro.jpg','pantalones-filtro.jpg'] %>
                    <% for (let i = 0; i < imgs.length; i++) { %>
                        <a href="/products/<%=categorias[i] == 'campera' ? categorias[i] = 'remera' : categorias[i] %>" class="seccion">
                            <img src="/img/<%=imgs[i]%>" alt="">
                        </a>
                    <% } %>
                </div>
            </section>

            <section class="contenedor-padre">
                <h3 class="titulo-seccion">Lo último que llegó</h3>
                <% for (product of products) { %> 
                    <%- include("partials/article-card.ejs",{product:product}) %>
                <% } %>
            </section>

        </main>
        <%- include("partials/footer.ejs") %>
</body>

</html>