<article>
    <a href="/products/item/<%= product.idProd %>/" class="card">
        <img class="contenedor-img" src="/img/products/<%=product.imagen%>" alt="">
        
        <div class="card__price">$ <%=product.precio%></div>
        <div class="card__title"><%=product.nombreProd%></div>
        <div class="card__subtitle">Tamaño / Talle: <b><%=product.talle%></b></div>
    </a>

</article>